@model WorkingWithIdentity.ViewModels.BudgetViewModel

<a href="/Courses/ViewMyCourses"><li class="btn btn-link navbar-btn navbar-link">@Model.NoOfCourses Courses</li></a>
<li class="btn btn-link navbar-btn navbar-link">@Model.Budget$ </li>

