@model IEnumerable<WorkingWithIdentity.Models.Invoice>

@{
    ViewData["Title"] = "CreateInvoice";
}

<h2>CreateInvoice</h2>

<p>
    @Html.ActionLink("Show my Invoices", "ShowInvoice", "Home", null, new { @class = "btn btn-primary" })
</p>

