@model WorkingWithIdentity.Models.Review
@{
    ViewData["Title"] = "AddReview";
}
<br />
<br />
<h2>AddReview</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="FinishReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                    <label asp-for="ReviewScore" class="control-label"></label>
                    <input asp-for="ReviewScore" class="form-control" />
                    <span asp-validation-for="ReviewScore" class="text-danger"></span>
                </div>*@
            <fieldset class="rating">
                <input  type="radio" id="star5" name="ReviewScore" value=5 /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star4half" name="ReviewScore" value=4,5 /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star4" name="ReviewScore" value=4 /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star3half" name="ReviewScore" value=3,5 /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star3" name="ReviewScore" value=3 /><label class="full" for="star3" title="Meh - 3 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star2half" name="ReviewScore" value=2,5 /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star2" name="ReviewScore" value=2 /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star1half" name="ReviewScore" value=1,5 /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input asp-for="ReviewScore" type="radio" id="star1" name="ReviewScore" value=1 /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                <input asp-for="ReviewScore" type="radio" id="starhalf" name="ReviewScore" value=0,5 /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
         
            <div class="form-group">
                <input type="submit" value="Submit Review" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/stylestars.css">
</head>
